.App {
  text-align: center;
}

.header {
  display: flex;
  font-size: 20px;
  padding: 8px 4px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ef5350;
  justify-content: space-between;
}
