.App {
  text-align: center;
}

img {
  width: 130px;
  margin: 0 auto;
}

button {
  width: 150px;
}

.header {
  display: flex;
  font-size: 20px;
  padding: 8px 4px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ef5350;
  justify-content: space-between;
}

.pokemon-list {
  height: 300px;
  width: 200px;
  overflow: auto;
  margin: 40px auto 0px auto;
}

.pokemon-details {
  display: flex;
  flex-direction: column;
}

.pokemon-details-header {
  display: flex;
  padding: 8px 0px;
  flex-direction: column;
  align-items: center;
}

.pokemon-details-data {
  display: flex;
  flex-direction: column;
}

.stat-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 8px;
}

.stat {
  margin: 4px;
  padding: 8px;
  border-radius: 22px;
  border: 1px solid #ef5350;
}

li:hover {
  color: blue;
  cursor: pointer;
}
